.padding-top-btn {
    padding-top: 25px;
}

.height-canvas {
    width: 100%;
    height: 300px;
    margin-top: 30px;
}
.margin-right-btn {
    padding-right : 700px;
}
.margin-top {
    margin-top : 50px;
}


